$borderRadius1: 5px;
$borderRadius2: 10px;
$borderRadius3: 50%;

$border1: 1px solid #ddd;

$fontSize1: 14px;
$fontSize2: 16px;
$fontSize3: 20px;

$fontColor1: #555;
$fontColor2: #666;

$buttonColor1:  #ed1c24;
$postColor: #fff;

$lineHeight1: 1.5em;

$iconWidth1: 1.75em;

$buttonPadding1: 5px 20px;